altgraph==0.17.3
certifi==2023.5.7
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
requests==2.27.1
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
zipp==3.6.0
